@font-face {
    font-family: YoutubeSans;
    src: url(YouTube-Sans-Light.otf);
}

*{
    padding: 0;
    margin: 0;
    font-family: YoutubeSans, Arial, Calibri;
    text-decoration: none;
}

ul {
    margin:0 auto;
    padding: 0;
    text-align: center;
    width: auto;
}

#nav{
    width: 30%;
}

li {
    display: inline;
    list-style: none;
}

a {
    display:inline-block;
    margin-right: -5px;
    width:120px;
    font-weight:bold;
    text-align:center;
    padding:4px;
    text-decoration:none;
    color: black !important;
    background-color: white;
}

.right-corner a{
    float: right;
}

a .active{
    background-color: rgb(0, 153, 0);
    color: white;
}

a:hover {
    background-color: rgb(0, 153, 0);
    color: white;
    text-decoration:none;
}

.flex-container {
    display: flex;
    background-color: lightgray;
    justify-content: space-between;
}

.flex-container>div {
    width: 33%;
    height: 2em;
}

.flex-container>div:first-child {
    width: 33%;
    height: 2em;
}

.flex-container>div:last-child {
    width: 33%;
    height: 2em;
}

.active{
    background-color: rgb(0, 153, 0);
    color: white;
}

select{
    width:120px;
    font-weight:bold;
    text-align:center;
    padding:4px;
    text-decoration:none;
    color: black;
    background-color: white;
}

option:hover{
    background-color: rgb(0, 153, 0);
    color: white;
    text-decoration:none;
}

.active-language{
    background-color: darkgrey;
}

input:hover {
    background-color: rgb(0, 153, 0);
    color: white;
    text-decoration:none;
}

input[type=submit]{
    display:inline-block;
    margin-right: -5px;
    width:120px;
    font-weight:bold;
    text-align:center;
    padding:4px;
    text-decoration:none;
    color: black !important;
    background-color: white;
    border: none;
}

form, .tabtrad th, .titre h3, .messageErreur, .liste {
    text-align: center;
}

.trad{
    text-align: left;
}

footer{
    margin: 5% 20% 20% 5%;
}